@use "@/components/Form/Form" as *;
@use "@/styles/mixins" as *;

.setPasswordPage {
    min-height: 100vh;
    display: flex;
    padding: 2rem;
    gap: 1rem;

    .section {
        width: 50%;
        padding: 1rem;
    }

    .leftSection {
        @extend .section;
        display: flex;
        align-items: center;


        .sideImg {
            width: 100%;
        }
    }

    .rightSection {
        @extend .section;
        @include flex-center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.99)), url(../../assets/setPassbg1.svg);
    }
}



.setPassForm {
    background-color: white;
    width: 60%;
    padding: 1rem;
}