DB_USERNAME=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

SUPERADMIN_USER_ID=
SUPERADMIN_NAME=
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=


POLICY_IDS='["c454023f-e6a9-442f-8725-81e4fb226631","51c130af-66ba-4ed6-8409-e6bd029cef96","dabd64f2-c1fe-4a63-a4ee-fad69a757e5c","07af6fc2-58ee-422f-b82c-5d3e2cd970dd","252c3d16-240c-4660-b9c0-82fd25021ee5","2680ea2d-36c3-45f8-b3d9-fcfb4bb7a499","af0515bf-4915-4fbc-b663-64b95a2f5f1f","31b53797-c266-4e18-8a90-82eae9552525","4e548ba4-e9be-4d96-808c-8955f4086602","25d115f8-8075-42c5-a046-0d774cbade2d"]'
POLICY_NAMES='["SUPERADMIN","ORGADMIN","PROJECT_DEVELOPER","PROJECT_OWNER","PROJECT_COLLABORATOR","REVIEWER","VIEWER","EDITOR","CAN_ADD_MEMBER","CAN_REMOVE_MEMBER"]'
ALLOWED_RESOURCES='["SUPERADMIN_DASHBOARD","ORGADMIN_DASHBOARD","DEVELOPER_FUNCTIONS","OWNER_FUNCTIONS","COLLABORATOR_FUNCTION","REVIEWER_FUNCTION","VIEWER_FUNCTIONS","EDITOR_FUNCTIONS","MEMBER_DASHBOARD","MEMBER_DASHBOARD"]'

SUBSCRIPTION_PLAN_IDS='["b4de9e31-ac65-4c4d-b4ea-5d93871370e7","4dea1622-af17-4c43-a0df-33a8ac6587ce","0a59ba0b-a327-4c40-b3fa-6ec18f3c6f6e"]'
SUBSCRIPTION_PLAN_NAMES='["FULL","HALF","BASIC"]'
SUBSCRIPTION_PLAN_COSTS='[19.99,13.99,5.99]'
SUBSCRIPTION_PLAN_DETAILS='["ABCD EFGH IJKL","ZYXW VUTS RQPO","AHJK AIDA ASOI"]'


PRIVATE_KEY_PATH=
ALGORITHM=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION=
SES_SENDER_MAIL=