.modalBackdrop{
    background-color: #cccccc7e;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;

    .modal{
        background-color: rgb(255, 255, 255);
        padding: 1rem;
        box-shadow: 0 0 12px 4px #a7a7a7;
        border-left: 2px solid;
        border-bottom: 2px solid;
    }
}